@-webkit-keyframes slide-in-top {
  0% {
    transform: translate3d(0,-500px,0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translate3d(0, -500px, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

// PUSH
// ENTER
@keyframes entering-push-top {
  from {
      transform: translate3d(0,-100%,0);
  }
}
@keyframes entering-push-bottom {
  from {
      transform: translate3d(0,100%,0);
  }
}
@keyframes entering-push-left {
  from {
      transform: translate3d(100%,0,0);
  }
}
@keyframes entering-push-right {
  from {
      transform: translate3d(-100%,0,0);
  }
}
// LEAVE
@keyframes leaving-push-top {
  to {
      transform: translate3d(0,100%,0);
  }
}
@keyframes leaving-push-bottom {
  to {
      transform: translate3d(0,-100%,0);
  }
}
@keyframes leaving-push-left {
  to {
      transform: translate3d(-100%,0,0);
  }
}
@keyframes leaving-push-right {
  to {
      transform: translate3d(100%,0,0);
  }
}

// COVER
@keyframes entering-cover-top {
  from {
      transform: translate3d(0,-100%,0);
  }
}
@keyframes entering-cover-bottom {
  from {
      transform: translate3d(0,100%,0);
  }
}
@keyframes entering-cover-left {
  from {
      transform: translate3d(100%,0,0);
  }
}
@keyframes entering-cover-right {
  from {
      transform: translate3d(-100%,0,0);
  }
}

// REVEAL
@keyframes entering-reveal-top {
  from {
      transform: scaleY(0);
      transform-origin: 50% 0%;
  }
  to {
    transform: scaleY(1);
    transform-origin: 50% 0%;
  }
}
@keyframes entering-reveal-bottom {
  from {
    transform: scaleY(0);
    transform-origin: 50% 100%;
  }
  to {
    transform: scaleY(1);
    transform-origin: 50% 100%;
  }
}
@keyframes entering-reveal-left {
  from {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }
  to {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
}
@keyframes entering-reveal-right {
  from {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
  to {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
}

@keyframes leaving-reveal-bottom {
	from { opacity: 1; }
	to { opacity: 0; -webkit-transform: translateY(-100%) rotateX(90deg); transform: translateY(-100%) rotateX(90deg); }
}
@keyframes leaving-reveal-right {
	from { opacity: 1; }
	to { opacity: 0; -webkit-transform: translateX(100%) rotateY(90deg); transform: translateX(100%) rotateY(90deg); }
}

@keyframes leaving-reveal-top {
	from { opacity: 1; }
	to { opacity: 0; -webkit-transform: translateY(100%) rotateX(-90deg); transform: translateY(100%) rotateX(-90deg); }
}

@keyframes leaving-reveal-left {
	from { opacity: 1; }
	to { opacity: 0; -webkit-transform: translateX(-100%) rotateY(-90deg); transform: translateX(-100%) rotateY(-90deg); }
}

@keyframes entering-fade {
  0% {
    filter: grayscale(0.4);
    opacity: 0;
  }
  100% {
    filter: grayscale(0);
    opacity: 1;
  }
}

@keyframes leaving-fade {
  to {
    opacity: 0;
    filter: grayscale(0.4);
  }
}
@keyframes leaving-fade-scale {
  from {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
    filter: grayscale(0.4);
    opacity: 0;
  }
}