@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/open-sans/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
    url('/fonts/open-sans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
